@import url(https://fonts.googleapis.com/css?family=VT323);
@console-color: #14fdce;
@console-bg: #031e11;

body{
	width: 90%;
	background-color: rgba(0, 0, 0, 0.9);
	background: #383838;
	color: #14fdce;
	font-family: 'VT323';
	font-size: 18px;
	-webkit-font-smoothing: none;
	line-height: 1.2;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  margin: auto;
}

button:hover{
	background-color: #14fdce;
  	color: #031e11;
}

ul{
	list-style: none;
}

#interior{
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	overflow: hidden;
	display: flex;
  	flex-direction: column;
  	justify-content: center;
  	align-items: center;
  	text-align: center;
}

#borde-exterior{
	margin-bottom: 2%;
	padding: 50px 50px 100px 50px;
	background-color: grey;
	-webkit-box-shadow: 0px 0px 10px 2px #000000; 
	box-shadow: 0px 0px 10px 2px #000000;
	width: 100%;
	height: 510px;
}

#borde-interior{
	background-color: transparent;
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  box-shadow:
    inset 0 0 18rem black,
    inset 0 0 3rem black,
    0 0 10rem black;
  height: 96%;
  top: 2%;
  left: 2%;
  width: 96%;
  pointer-events: none;
}

#on-off{
	background: rgb(153, 153, 153);
	border: 1px solid rgb(153, 153, 153);
	float: right;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	margin-top: 1.5%;
	padding: 20px 20px 20px 20px;
	-webkit-box-shadow: 0px 0px 10px 0px #000000; 
	box-shadow: 0px 0px 10px 0px #000000;
	border-radius: 50%;
	color: rgb(204, 122, 0);
	font-size: 21px;
}

#on-off:hover{
	-webkit-box-shadow: 0px 0px 10px 2px #000000; 
	box-shadow: 0px 0px 10px 2px #000000;
}

#luz{
	float: right;
	vertical-align: middle;
	align-content: center;
	text-align: center;
	margin-top: 3%;
	border-radius: 50%;
	padding: 10px 10px 10px 10px;
	background-color: red;
	margin-left: 3%;
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 2px #FF0000; 
	box-shadow: 0px 10px 13px -7px #000000, 0px 0px 30px 2px #FF0000;
}

#output{
	display: none;
  	width: 100%;
  	vertical-align: middle;
}

.menu-btn{
	vertical-align: middle;
	align-content: center;
	margin-top: 2%;
	padding: 8px 8px 8px 8px;
	font-family: 'VT323';
	font-size: 2rem !important;
	color: #14fdce;
	border: 1px solid #14fdce;
	background-color: #031e11;
}

#dificultad{
	display: none;
}

.dificultad-btn{
	margin-top: 2%;
}

#volver-dif{
	margin-top: 10%; 
}

#instrucciones{
	display: none;
}

.instrucciones-contenido{
	width: 70%;
	margin: auto;
}

@keyframes crt-output {
  0% { opacity: 0.9; }
  50% { opacity: 1; }
}

::-moz-selection {
  background-color: #14fdce;
  color: #031e11;
}
::selection {
  background-color: #14fdce;
  color: #031e11;
}

#juego-titulo{
	display: none;
}


#intentos{
	display: none; /*inline*/
	width: 100%;
}

#intentos h3{
	float: left;
	margin: auto;
}

.intentos-box{
	float: left;
	background-color: #14fdce;
	padding: 20px 2px 10px 2px;
	width: 3%;
	margin-left: 3%;
}

#principal{
	width: 100%;
	overflow: hidden;
	display: none; /*flex*/
  	flex-direction: column;
  	text-align: left;
}

#principal button{
	vertical-align: middle;
	align-content: center;
	margin-top: 2%;
	padding: 6px 6px 6px 6px;
	font-family: 'VT323';
	font-size: 1rem !important;
	color: #14fdce;
	border: 1px solid #14fdce;
	background-color: #031e11;
}

#principal-opciones{
	width: 100%;
	float: left;
	margin: 0;
	padding: 0;
}

.principal-box{
	display: block;
}

.codigo{
	margin-top: 2%;
	display: inline;
	width: 20%;
	float: left;
}

.linea{
	margin: 0;
	padding: 0;
}

.linea ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}

.linea ul li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

#historial{
	margin-top: 3%;
	margin-left: 3%;
	width: 30%;
	display: inline;
	float: right;
}

#btn-principal{
	width: 100%;
  	flex-direction: column;
  	text-align: center;
  	margin: auto;
}

#btn-principal button{
	vertical-align: middle;
	align-content: center;
	margin-top: 1%;
	padding: 6px 6px 4px 6px;
	font-family: 'VT323';
	font-size: 1.5rem !important;
	color: #14fdce;
	border: 1px solid #14fdce;
	background-color: #031e11;
}

#btn-principal button:hover, #principal button:hover{
	background-color: #14fdce;
  	color: #031e11;
}

#logo-ganar{
	color: #14fdce; 
	font-size: 200px;
}

#cuadro-ganar{
	display: none;
}

#logo-perder{
	color: #14fdce; 
	font-size: 200px;
}

#cuadro-perder{
	display: none;
}


@media(max-width: 1200px){
	body{
		width: 100%;
		margin: 0;
		padding: 0;
		font-size: 18px;
	}

	button{
		font-size: 2rem;
		padding: 2px 2px 2px 2px !important;
		margin: 0;
	}

	#borde-exterior{
		margin: 0 !important;
		padding: 5px 5px 100px 5px !important;
		height: 500px !important;
	}

	#on-off{
		padding: 10px 10px 10px 10px !important;
	}

	#luz{
		margin-left: 2%;
		margin-right: 2%;
	}

	.intentos-box{
		padding: 12px 2px 8px 2px;
	}

	#juego-titulo h1{
		font-size: 2rem !important;
		margin-bottom: 1%;
	}

	#historial{
		margin-top: 4%;
		width: 22%;
		margin-right: 0;
		float: right;
		font-size: 0.9rem !important;
	}

	#historial ul{
		margin-top: 1%;
	}

	.codigo{
		width: 25%;
	}

	.codigo ul{
		margin: -2% !important;
	}

	#btn-principal button{
		padding: 2px 2px 2px 2px !important;
		font-size: 1.5rem;
	}
}

@media(max-width: 768px){
	#borde-exterior{
		padding: 0px 1px 100px 0px !important;
	}
}